* {
    box-sizing: border-box;
}

.logo {
    float: left;
    width: 33.33%;
    padding: 5px;
}

/* Clearfix (clear floats) */
.logo-div::after {
    content: "";
    clear: both;
    display: table;
}

@media screen and (max-width: 500px) {
    .logo {
        width: 800%;
    }
}

h2 {
    text-align: center;
}